@import 'tailwindcss';

:root {
  /* --background: #ffffff; */
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Inter;
}

.container-header {
  width: 95%;
  margin: 0 auto;
}

.container-main {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container-main,
  .container-header {
    width: 100%;
    padding: 0 15px 0 15px;
  }
}
